:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container a img{
    height: 70px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -25px;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%);
    background-image: none;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 70%;
}

/*carrocel*/

.botaocell{
    border: none;
    background-color: rgba(20,20,20,1);
}

.carrosel_filmes{
    margin-top: 10px;
}

.flickity-viewport{
    margin: 0%;
}

.gallery-cell{
    margin-left: 10px;
}

.gallery-cell img{
    transition-duration: 200ms; transition-delay: 0ms;
    border-radius: 5px;
}

.gallery-cell:hover img{
    border: inset 2px;
    border-color: rgb(158, 143, 143);
    border-radius: 5px;
    transform: scale(1.08);
/*    padding: 0%;
    transform: scale(1.2); width: 100%; height: 100%; top: 0%; left: 10%; margin-top: 0px;*/
}

.popup-fundo{
    margin: auto;
    width: 1331px;
    height: 811px;
    display: none;
    top: 10%;
    left: 16%;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 10004;
    opacity: 1;
}

.popup-titlebar{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.popup-title{
    position: absolute;
    left: 10px;
    top: 10px;
}

.popup-close{
    position: absolute;
    right: 5px;
    top: 5px;
}

.videopopup{
    display:block;
    position:absolute;
    top: 50px;
    left:0;
    width:300px;
    height:200px;
    border:none;
}

.trailer-iframe{
    background-color: #000;
    display:block;
}
/*
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    transition-duration: 500ms; transition-delay: 0ms;
    z-index: 6;
}

*/

/*
.box-filme:hover{
/*    transform: translate3d(0px, 0px, 0px); transition-duration: 500ms; transition-delay: 0ms;*/
/*    z-index: 10;
    transform: scale(1.2); width: 120%; height: 120%; top: -10%; left: 0%; margin-top: 0px; transition-duration: 500ms;
}*/